.container-custom{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,62,166,1) 35%, rgba(0,212,255,1) 100%); 
}

.form-group{
    height: 30px;
    width: 250px;
    position: absolute;
    left: 50px;
    font-size: 30px;
}

.btn-custom{
     position: relative;
     left: 80px;
}



.history{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 450px;
    left: 70px;
    display: block;
}

.search-history{
  appearance: button;
  background-color: #5061bf;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.card-custom{
    position: relative;
    left: 400px;
    height: 300px;
    display:none;
    border: 1px solid black;
} 

.forecast{
    position: relative;
    left: 365px;
    width: 10rem;
    margin-top: 40px;
    display: none;
}

.col-sm-2 .card{
    background-color: rgb(39, 39, 104);
    color: white;
}

#city-name {
    font-size: 30px;
}

#temp, 
#wind, 
#humidity, 
#uv {
    font-size: 20px;
    position: relative;
    top: 20px;
}







